.navbar {
    color: white;
    padding: 15px 0; /* Top and bottom padding */
    border-radius: 10px;
}

.buttons{
    background-color: #dceaf8; /* Dark grey */
}

.navbar ul {
    display: flex;
    justify-content: space-between; /* Pushes items to the edges */
    align-items: center; /* Aligns items vertically */
    padding: 0;
    margin: 0;
    list-style: none; /* Removes bullet points */
}

.left-buttons {
    margin-left: 20px; /* Adjust spacing from the left */
}

.right-buttons {
    margin-right: 20px; /* Adjust spacing from the right */
}